body {
    color:midnightblue;
    font-size:1.3em;
    font-weight:lighter;
    font-style:normal;
    font-family:Verdana, "arial narrow", sans-serif;
    background-color:whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
}
h1 {
    width:400px;
    padding: 10px;
    text-shadow:.1em .1em lightslategray;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    font-style:normal;
    font-family:georgia, serif;
    padding: 10px;
}
h1, h2 {
    color: mistyrose;
    background-color: midnightblue;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid mistyrose;
}
h1 strong {
    color:rosybrown;
}
h2.subpage {
    font-style: italic;
}
ul.frontpage {
    font-weight: bold;
}
img#friendsgif {
    width:20%
}
img#horsepic {
    height:500px
}
a:link {
    color:darkcyan;
    text-decoration: none;
}
a:visited {
    color:darkcyan;
    text-decoration:none;
}
a:hover {
    color:lightskyblue;
    text-decoration:underline;
}
a:active {
    color:lightskyblue;
    text-decoration:underline;
}
div#important {
    font-weight: bold;
}
img#friendsgif {
    float:left;
}
div.navbar {
    display:flex;
    margin-left:20%;
    margin-right:20%;
    justify-content:space-around;
    border: 2px solid midnightblue;
    align-items: stretch;
}
div.footer {
    display:flex;
    margin-left:20%;
    margin-right:20%;
    justify-content:space-around;
    border: 2px solid midnightblue;
    color:powderblue;
    font-weight: lighter;
    font-size: small;
}