body {
    color:midnightblue;
    font-size:1.3em;
    font-weight:lighter;
    font-style:normal;
    font-family:Verdana, "arial narrow", sans-serif;
    background-color:whitesmoke;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    font-style:normal;
    font-family:georgia, serif;
}
h1, h2 {
    color: mistyrose;
    background-color: midnightblue;
}
h1 strong {
    color:rosybrown;
}
h2.subpage {
    font-style: italic;
}
ul.frontpage {
    font-weight: bold;
}
img#friendsgif {
    width:100%
}
img#horsepic {
    height:500px
}
a:link {
    color:darkcyan;
    text-decoration: none;
}
a:visited {
    color:darkcyan;
    text-decoration:none;
}
a:hover {
    color:lightskyblue;
    text-decoration:underline;
}
a:active {
    color:lightskyblue;
    text-decoration:underline;
}
