body {
    color:midnightblue;
    font-size:1.3em;
    font-weight:lighter;
    font-style:normal;
    font-family:Verdana, "arial narrow", sans-serif;
    background-color:whitesmoke;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
}

/*use a media query to ask how big the viewport is*/
@media (max-width: 750px) { /*these rules take effect when the viewport if small (specifically less than 750px)*/
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (orientation: portrait) {
    body {
        background-color: white;
    }
}

h1 {
    width:400px;
    padding: 1em;
    text-shadow:.1em .1em lightslategray;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    font-style:normal;
    font-family:georgia, serif;
    padding: 10px;
}
h1, h2 {
    color: mistyrose;
    background-color: midnightblue;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid mistyrose;
    padding: 1em;
}
h1 strong {
    color:rosybrown;
}
h2.subpage {
    font-style: italic;
}
ul.frontpage {
    font-style:italic;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 0.1em solid midnightblue
}
img#logo {
    width:30%;
    padding: 1em;
    float:left;
    position: relative;
    top: 5.25em;
    margin-left: 10%
}
img#horsepic {
    height:500px;
    padding: 1em;
    margin-left:10%;
    margin-right:10%;
    position: relative;
    left: 8em;
}
img#asblogo {
    padding:1em;
    width: 30%;
    margin-left:10%;
    margin-right:10%;
    position: relative;
    left: 10em;
}
a:link {
    color:darkcyan;
    text-decoration: none;
}
a:visited {
    color:darkcyan;
    text-decoration:none;
}
a:hover {
    color:lightskyblue;
    text-decoration:underline;
}
a:active {
    color:lightskyblue;
    text-decoration:underline;
}

div.navbar {
    display:flex;
    margin-left:10%;
    margin-right:10%;
    justify-content:space-around;
    border: 2px solid midnightblue;
    align-items: stretch;
}
div.footer {
    display:flex;
    margin-left:10%;
    margin-right:10%;
    justify-content:space-around;
    border: 2px solid midnightblue;
    color:lightskyblue;
    font-weight: lighter;
    font-size: small;
    position: relative;
    top: 1em;
}
div.basic {
    text-align: right;
    margin-right:10%;
    line-height: 1.25em;
}
span#PI {
    position: relative;
    right: 9.5em;
}
div.text {
    margin-left: 10%;
    margin-right: 10%;
}
div#important {
    font-weight: bold;
}

@media (max-width: 750px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (orientation: portrait) {
    h2 {
        width: 100%
    }
}

